<ion-content class="wishlist-categories-content">
  <div class="beautiful-header">
    <h1>{{ city }}</h1>
  </div>

  <ion-list class="category-list">
    <ng-container *ngFor="let category of categories">
      <ion-item button (click)="toggleCategory(category.name)" class="category-toggle">
        <ion-label class="category-name">{{ category.name }}</ion-label>
        <ion-icon slot="end" class="chevron-icon" [name]="expandedCategory === category.name ? 'chevron-up' : 'chevron-down'"></ion-icon>
      </ion-item>

      <ng-container *ngIf="expandedCategory === category.name">
        <ion-item *ngFor="let place of category.places" class="place-item">
          <ion-label class="place-label">{{ place.name }}</ion-label>
        </ion-item>
      </ng-container>
    </ng-container>
  </ion-list>
</ion-content>
