<ion-app>
  <!-- Side Menu -->
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar style="--background: #337aff52;">
        <ion-title style="color: white;">Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-list lines="none">
<ion-item button class="menu-item" (click)="goToProfile()">
  <ion-icon slot="start" name="person-circle-outline"></ion-icon>
  <ion-label>Profile</ion-label>
</ion-item>

<ion-item button class="menu-item" (click)="goToSettings()">
  <ion-icon slot="start" name="notifications-outline"></ion-icon>
  <ion-label>Settings</ion-label>
</ion-item>

<ion-item button class="menu-item" (click)="goToGeneral()">
  <ion-icon slot="start" name="settings-outline"></ion-icon>
  <ion-label>General</ion-label>
</ion-item>

<ion-item button class="menu-item" (click)="logout()">
  <ion-icon slot="start" name="log-out-outline"></ion-icon>
  <ion-label>Logout</ion-label>
</ion-item>


</ion-list>
    </ion-content>
  </ion-menu>

  <!-- Main Page -->
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>My {{ currentFilter === 'wishlist' ? 'Wishlist' : 'Itinerary' }}</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="wishlist-content">
      <section class="places">
        <!-- Toggle Buttons -->
        <div class="places__filter">
          <div class="toggle-switch">
            <button
              type="button"
              class="toggle-option"
              [class.active]="currentFilter === 'wishlist'"
              (click)="setFilter('wishlist')">
              Wishlist
            </button>
            <button
              type="button"
              class="toggle-option"
              [class.active]="currentFilter === 'itinerary'"
              (click)="setFilter('itinerary')">
              Itinerary
            </button>
          </div>
        </div>
<br>
<br>
<br>
<br>
        <!-- Empty Message -->
        <div class="empty-message" *ngIf="wishlistData.length === 0">
          <ion-text color="medium">
            <p class="ion-text-center">
              You currently do not have a {{ currentFilter === 'wishlist' ? 'Wishlist' : 'Itinerary' }}
            </p>
          </ion-text>
        </div>

        <!-- MTree Itinerary -->
        <ul class="mtree jet" *ngIf="wishlistData.length > 0">
          <li *ngFor="let group of wishlistData"
              [ngClass]="{
                'mtree-node': group.entries?.length > 0,
                'mtree-open': expandedCountry === group.country,
                'mtree-closed': expandedCountry !== group.country && group.entries?.length > 0
              }">
            <!-- Country Toggle -->
            <ion-item-sliding>
              <ion-item button detail="false" (click)="toggleCountry(group.country)">
                <ion-label>{{ group.country }}</ion-label>
              </ion-item>

              <ion-item-options side="end">
                <ion-item-option style="--background: #a6e2aa8a; color: white;" (click)="editLocation(group.country, 'country')">
                  Edit
                </ion-item-option>
                <ion-item-option style="--background: #ef06066e; color: white;" (click)="deleteCountry(group.country)">
                  Delete
                </ion-item-option>
                <ion-item-option 
                  [style.background]="currentFilter === 'wishlist' ? '#337aff70' : '#337aff70'" 
                  style="color: white;"
                  (click)="moveCountry(group.country)">
                  {{ currentFilter === 'wishlist' ? 'Move to Itinerary' : 'Move to Wishlist' }}
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>

            <!-- City List -->
            <ul *ngIf="expandedCountry === group.country" class="mtree-level-1">
              <li *ngFor="let city of getUniqueCities(group.entries)">
                <ion-list>
                  <ion-item-sliding>
                    <ion-item (click)="goToCityPage(city)">
                      <ion-label>{{ city }}</ion-label>
                    </ion-item>
                    <ion-item-options side="end">
                      <ion-item-option style="--background: #a6e2aa8a; color: white;" (click)="editLocation(city, 'city')">
                        Edit
                      </ion-item-option>
                      <ion-item-option style="--background: #ef06066e; color: white;" (click)="deleteCity(city)">
                        Delete
                      </ion-item-option>
                    </ion-item-options>
                  </ion-item-sliding>
                </ion-list>
              </li>
            </ul>
          </li>
        </ul>
      </section>            
    </ion-content>
  </div>
</ion-app>
