

<ion-header>
  <ion-toolbar>
    <ion-title>My {{ currentFilter === 'wishlist' ? 'Wishlist' : 'Itinerary' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="wishlist-content">
  <section class="places">

    <!-- Toggle Buttons -->
    <div class="places__filter">
      <div class="toggle-switch">
        <button
          type="button"
          class="toggle-option"
          [class.active]="currentFilter === 'wishlist'"
          (click)="setFilter('wishlist')">
          Wishlist
        </button>
        <button
          type="button"
          class="toggle-option"
          [class.active]="currentFilter === 'itinerary'"
          (click)="setFilter('itinerary')">
          Itinerary
        </button>
      </div>
    </div>

    <!-- MTree Itinerary -->
    <ul class="mtree jet">
      <li *ngFor="let group of wishlistData"
          [ngClass]="{
            'mtree-node': group.entries?.length > 0,
            'mtree-open': expandedCountry === group.country,
            'mtree-closed': expandedCountry !== group.country && group.entries?.length > 0
          }">
        
        <!-- Country Toggle -->
        <a href="#" (click)="$event.preventDefault(); toggleCountry(group.country)">
          {{ group.country }}
        </a>

        <!-- City List -->
        <ul *ngIf="expandedCountry === group.country" class="mtree-level-1">
          <li *ngFor="let city of getUniqueCities(group.entries)">
            <a href="#" (click)="$event.preventDefault(); goToCityPage(city)">
              {{ city }}
            </a>
          </li>
        </ul>
      </li>
    </ul>
    
  </section>
</ion-content>
