ion-fab-button {
  display: flex;
  align-items: center;
  justify-content: center;
  --background: #ff5f7e;
  
  
}

ion-icon {
  font-size: 24px;
  color: white; 
 
}
.back-button-bar {
  background-color: #ff5f7e;
  padding: 10px 16px;
  height: 50px; 
  display: flex;
  align-items: center;

}
.no-scroll {
  --overflow: hidden;
}


.add-fab {
  margin-bottom: 80px; 
  
  ion-fab-button {
    --background: #ff5f7e;   
    width: 60px;
    height: 60px;
    border-radius: 50%;
 

    &:hover {
      transform: scale(1.05);
    }
  }

  ion-icon {
    font-size: 26px;
    color: white;
  }
}

.location-search-form {
  padding: 0 10px;
  margin-top: 12px;
  



  .search-bar-container {
    background: #ffffff;
    border-radius: 999px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
    padding: 4px 8px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .search-input {
    flex: 1;
    font-size: 1rem;
    padding: 8px;
    --padding-start: 12px;
    --background: transparent;
    --color: #333;
  }

  .search-button {
    --background: #ef3f5a;
    --color: white;
    --box-shadow: 0 2px 8px rgba(51, 122, 255, 0.2);
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  ion-icon {
    font-size: 20px;
  }
}

ion-content {
  --keyboard-offset: 0px;
  height: 70vh;
  contain: layout size style;
  position: relative;

}

.location-search-form {

  position: sticky;
  top: 0;
  z-index: 10;
  background: white;
}