ion-fab-button {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

ion-icon {
  font-size: 24px;
  color: white; 
 
}
.back-button-bar {
  background-color: #496faa34;
  padding: 10px 16px;
  height: 50px; 
  display: flex;
  align-items: center;

}
icon-inner {
  color: #496faa34;

}