.half-map {
  width: 100%;
  height: 50vh;
}

.plus-icon {
  font-size: 22px;
  color: #4970aa54;
  cursor: pointer;
  margin-left: auto;
}

.back-button-bar {
  background-color: #496faa34;
  padding: 10px 16px;
  height: 50px; 
  display: flex;
  align-items: center;

}
